@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.contenedor1 {
    width: 90vw;
    margin: 10px auto;
    background: #dcdfe9;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.head {
    width: 100%;
    padding: 15px 10px;
}

.head img, h1 {
    display: inline;
    text-align: right;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    
}

.contenedor2 {
    width: 100%;
    padding: 20px 0 20px 70px;
}

.caja-entrada {
    display: inline-block;
    width: 60%;
    padding: 10px 0 0 80px;
    margin: 10px 0 0 10px;
}

.caja-entrada textarea {
    width: 80%;
    border-radius: 5px;
    margin: 0 0 10px 0;
    padding: 10px 5px;
    background: #dcdfe9;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    outline: none;
    resize: none;
}
::placeholder{
    color: darkblue
}

.caja-botones{
    width: 100%;
    margin: 20px auto;
}

.condicion {
    margin: 0 10px;
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
}

.condicion::before {
    content: "❗";
}

#btn-encrypt {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 0 20px;
    background: #101b57;
    color: #fff;
    
    font-weight: bold;
    cursor: pointer;
    transition: .8s;
    border: none;
    border-radius: 10px;
}
#btn-encrypt:hover {
    background: #3d697e;
    border: 50px;
    border-color: black;
}

#btn-decrypt {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 0 20px;
    background: #F3F5FC;
    color: #101b57;
    font-weight: bold;
    cursor: pointer;
    transition: .8s;
    border-radius: 10px;
}
#btn-decrypt:hover {
    background: #101b57;
    color: #fff;
}

.caja-resultado {
    display:inline-block;
    width: 35%;
    margin: 0 auto;
    padding: 30px 20px;
    vertical-align: top;
    background-color: #cdd1e0;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);;
    
}

.resultado-final {
    width: 100%;
    text-align: center;
}

#muestra-imagen {
    width: 100%;
    margin: 0 0 10px;
    display: none;
}

.resultado-final img {
    width: 60%;
    margin-top: 40px; 
}

.msg {
    font-size: 1.8em;
    font-weight: bold;
}
.insruccion {
    font-size: .8;
    padding: 100px;

}

.boton-copia {
    width: 100%;
}

.boton-copia button{
    display: none;
    width: 150px;
    height: 50px;
    margin: 10px 100px 0;
    background: #cdd1e0;
    color: #101b57;
    font-weight: bold;
    cursor: pointer;
    transition: .8s;
    border-radius: 10px;
}
.boton-copia button:hover {
    background: #101b57;
    color: #fff;
}

.creditos {
    width: 100%;
    padding: 10px 20px 30px;
}
.creditos p {
    font-size: 1.3em;
    font-weight: bold;
    text-align: right;
    margin: 0 30px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(62, 109, 211), 0 0 0.2em rgb(115, 102, 236);
    color: white;
}

.linkedin {
    float: right;
    width: 10%;
    margin: 0 20px 20px 10px;
}
.github {
    float: right;
    width: 3%;
    margin: 0 20px 20px 20px;
}
@media screen and (min-width: 481px) and (max-width: 940px) {
    .boton-copia button {
        margin: 0 auto;
    }       
}

@media screen and (max-width: 480px) {
    .contenedor1, .contenedor2, .caja-entrada, .caja-resultado, .resultado-final {
        width: auto;
    }
    .contenedor2, .caja-entrada {
        padding: 20px 0;
    }
    .condicion {
        text-align: center;
    }
}